:root {
  --black: #000;
  --grey: #121212;
  --light-grey: #232323;
  --white: #fff;
}
body,
html {
  margin: 0rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "DM Sans", sans-serif;
  background-color: var(--black);
  color: var(--white);
}

.main-container {
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: var(--black);
  padding: 0.5rem;
}
.aside-section {
  height: 85vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--black);
  margin-right: 0.5rem;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 1rem 1.5rem;
}

#home {
  background-color: var(--light-grey);
  border-radius: 6px;
  margin-left: -20px;
  width: 100%;
  padding-left: 20px;
  padding: 5px 20px;
}
.flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
}
.flex-row:hover {
  opacity: 1;
  transition: all 0.3s;
  background-color: rgb(40, 40, 40);
  box-shadow: 0px 2px 4px rgb(151, 117, 117);
  transition: all 0.3s ease;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 3;
  overflow-y: auto;
  padding: 0.5rem 1.5rem;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.logo img {
  width: 10rem;
  height: 3rem;
}
.logo img:hover {
  width: 12rem;
  height: 4rem;
  box-shadow: 0px 2px 4px rgb(151, 117, 117);
  transition: all 0.3s ease;
}
a {
  color: var(--white);
  text-decoration: none;
}
.flex-row img {
  height: 1.5rem;
  width: 1.5rem;
}
.flex-row a {
  font-size: 0.8rem;
  color: var(--white);
}
.flex-div-1 {
  padding: 0.5rem 0rem;
}
.flex-div-2 {
  font-size: 0.8rem;
}

.flex-div-2 p:hover {
  font-size: 1rem;
  box-shadow: 0px 2px 4px rgb(151, 117, 117);
  transition: all 0.3s ease;
}
.content-area {
  height: 85vh;
  flex: 5;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  border-radius: 0.5rem;
  padding-bottom: 6rem;
}
.content-area::-webkit-scrollbar {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  position: sticky;
  top: 0;
  background-color: var(--light-grey);
  z-index: 1000;
  margin: 0rem;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 30px;
  border-radius: 33px;
  background-color: var(--black);
}
.user img {
  padding-left: 2px;
}
.user img:hover {
  box-shadow: 0px 2px 4px rgb(151, 117, 117);
  transition: all 0.3s ease;
}
.icon img:hover {
  box-shadow: 0px 2px 4px rgb(230, 212, 212);
  transition: all 0.3s ease;
}

.cards-container-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 30px;
}
.card-1 {
  display: flex;
  align-items: center;
  width: 25%;
  height: 50px;
  background-color: var(--light-grey);
  border-radius: 4px;
}
.card-1:hover {
  box-shadow: 0px 2px 4px rgb(230, 212, 212);
  cursor: pointer;
  transition: all 0.5s ease;
  width: 30%;
  height: 60px;
}
.card-2:hover {
  box-shadow: 0px 2px 4px rgb(230, 212, 212);
  cursor: pointer;
  transition: all 1s ease;
  width: 20%;
  height: 40vh;
}

.card-1 img {
  width: 50px;
  height: 50px;
}
.card-1 p {
  font-size: 14px;
  padding: 10px;
}
.heading {
  margin-left: 30px;
  width: fit-content;
}
.heading:hover {
  box-shadow: 0px 2px 4px rgb(230, 212, 212);
  font-size: larger;
  transition: all 0.3s ease;
}
.heading-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading-section a {
  opacity: 0.5;
  margin-right: 1.5rem;
}
.heading-section a:hover {
  opacity: 1;
  box-shadow: 0px 2px 4px rgb(230, 212, 212);
  font-size: large;
  transition: all 0.3s ease;
  text-decoration: underline;
}
.cards-container-2 {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
  margin-left: 30px;
}

.card-2 {
  overflow-y: auto;
  background-color: var(--light-grey);
  padding: 0.75rem;
  border-radius: 0.5rem;
  height: fit-content;
  margin: 0rem 0.2rem;
}

.card-name {
  margin: 0.25rem 0;
}

.card-description {
  margin: 0;
  font-size: 0.8rem;
  opacity: 0.5;
}
.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--black);
  height: 15vh;
  width: 100%;
}
.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78%;
}
.player-left {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 15vw;
  gap: 0.5rem;
}
.player-left-img:hover {
  box-shadow: 0px 2px 4px rgb(230, 212, 212);
  cursor: pointer;
  transition: all 0.3s ease;
}
.middle-text h3 {
  display: inline;
  font-size: 15px;
}
.middle-text:hover {
  box-shadow: 0px 2px 4px rgb(230, 212, 212);
  cursor: pointer;
  transition: all 0.3s ease;
}
#heart-icon:hover {
  box-shadow: 0px 2px 4px rgb(230, 212, 212);
  cursor: pointer;
  transition: all 0.3s ease;
}
.middle-text p {
  font-size: 14px;
  display: inline;
  opacity: 0.6;
  padding-top: -1rem;
}

.player-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.player-controls {
  display: flex;
  align-items: center;
}
.player-controls img:hover {
  box-shadow: 0px 2px 4px rgb(151, 117, 117);
  transition: all 0.3s ease;
}
.player-timeline img:hover {
  box-shadow: 0px 2px 4px rgb(151, 117, 117);
  transition: all 1s ease;
  width: 60vw;
}
.volume-controls {
  display: flex;
  align-items: center;
  width: 20vw;
  justify-content: flex-end;
  margin-right: 2rem;
}
.volume-controls img:hover {
  box-shadow: 0px 2px 4px rgb(151, 117, 117);
  transition: all 0.3s ease;
}
.player-timeline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.current-time {
  font-size: 0.8rem;
  opacity: 0.8;
}
.bottom-layer {
  width: 100%;
  height: 22%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.2rem;
  background-color: #1ed760;
}

.bottom-layer p {
  color: var(--black);
  font-size: 12px;
  font-weight: bold;
  margin-right: 6rem;
  margin-left: 0rem;
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
  .logo img {
    width: 80%;
  }
  .player-left,
  .volume-controls {
    display: none;
  }
  .player-controls {
    width: 50%;
  }
  .card-1 {
    display: flex;
    width: 40%;
  }
  .player {
    display: flex;
    justify-content: center;
  }
  .player-timeline {
    width: 100%;
  }
}

/* Small screens */
@media (max-width: 767px) {
  .aside-section,
  .volume-controls,
  .player-left {
    display: none;
  }

  .player-controls {
    width: 30%;
  }
  .player-timeline {
    width: 100%;
  }

  .card-1 {
    display: flex;
    width: 100%;
  }
  .card-1 img {
    width: fit-content;
  }
}
